%form{:method => 'POST', :action => "/#{@page}"}
  %textarea{:name => 'body'}= @page.content

  #controls
    %a.cancel{:href=>"/#{@page}"} cancel
    %input.submit{:type => :submit, :value => "Save as the newest version"}