%form{:method => 'POST', :action => "/#{@page}"}
  #editor
    %textarea{:name => 'body'}= @page.content

    #preview
      hit 

  #controls
    %a.cancel{:href=>"/#{@page}"} cancel
    %input.submit{:type => :button, :value => "Preview"}
    %input.submit{:type => :submit, :value => "Save"}
